/*----------------------------------------*/
/*  17. SUBSCRIBE CSS START
/*----------------------------------------*/

.subscribe{
    &__wrapper{}
    &__content{
        & p{
            font-size: 15px;
            font-weight: 600;
            color: $w-text-12;
            margin-bottom: 0;
        }
    }
    &__title{
        font-size: 40px;
        color: $black-6;
        font-weight: 800;
        margin-bottom: 15px;
    }
    &__form{
        @media #{$lg}{
            margin-top: 50px;
        }
        @media #{$md}{
            margin-top: 50px;
        }
        @media #{$sm}{
            margin-top: 50px;
        }
        @media #{$xs}{
            margin-top: 50px;
        }
        & input{
            width: 270px;
            height: 60px;
            line-height: 56px;
            background: $white;
            padding: 0 30px;
            margin-right: 30px;
            border: 2px solid $white;
            @include border-radius(6px);

            @media #{$xl}{
                width: 240px;
            }
            @media #{$md}{
                width: 250px;
            }
            @media #{$sm}{
                width: 100%;
                margin-bottom: 30px;
            }
            @media #{$xs}{
                width: 100%;
                margin-bottom: 30px;
            }
            &::placeholder{
                font-size: 14px;
                color: $w-text-13;
            }
            &:focus{
                border-color: $w-blue-7;
                outline: none;
            }
        }
        & button{
            height: 60px;
            padding: 0 40px;
            &:hover{
                &::after{
                    @include transform(skewX(40deg) scale(1, 1));
                }
            }
        }
    }
}